whatsapp Morning briefing.json
{
  "name": "WhatsApp Morning Briefing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "=8 7 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -288,
        -48
      ],
      "id": "88e3177a-43d9-432c-8b45-b222acdb033c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather?q=Raleigh&appid=YOUR_OPENWEATHERMAP_API_KEY&units=metric",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        -48
      ],
      "id": "27eab7ff-d66a-4ff7-8da5-c9e2d9a0475e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/top-headlines?country=us&pageSize=3&apiKey=YOUR_NEWSAPI_KEY",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -352,
        208
      ],
      "id": "54a3ba6b-1dcc-47f8-bb2a-2aab0dfdc537",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "// Use the EXACT node names from your workflow\nconst weather = $(\"HTTP Request\").item.json;\nconst news = $(\"HTTP Request1\").item.json;\n\n// Format weather\nconst temp = weather.main.temp;\nconst description = weather.weather[0].description;\nconst city = weather.name;\n\n// Format news (top 3 headlines)\nlet newsText = '';\nif (news.articles && news.articles.length > 0) {\n  newsText = news.articles.slice(0, 3).map((article, index) => \n    `${index + 1}. ${article.title}`\n  ).join('\\n\\n');\n}\n\n// Create briefing message\nconst briefing = `🌅 *Good Morning!*\n\n📍 *Weather in ${city}*\n${temp}°C - ${description}\n\n📰 *Top News Today:*\n${newsText}\n\nHave a great day! 🚀`;\n\nreturn { json: { message: briefing } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        208
      ],
      "id": "1f279550-c858-4f26-8e93-3d814a338824",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "from": "YOUR_TWILIO_WHATSAPP_NUMBER",
        "to": "YOUR_RECIPIENT_WHATSAPP_NUMBER",
        "toWhatsapp": true,
        "message": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        336,
        208
      ],
      "id": "9b91ca37-19b7-48d7-8550-9788c88bffe3",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "F5Noi35vVuOvdjqp",
          "name": "Twilio account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c9f50c2d-0a46-488d-bcf6-dd79e74873ca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a18ad536101bf4a9a154e90f0b65fac8845de3aa5ebbeebcc4302bc1434d56a9"
  },
  "id": "3zguYk75h9Wxr0cW",
  "tags": []
}